// Required
$muted: #E8E8E8;
$primary: #3583A3;
$info: #35A35F;
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/close";